[Desktop Entry]
Encoding=UTF-8
Name=Palemoon-portable
Icon=/usr/share/icons/pmportable48.png
Exec=pmportable_launch
Terminal=false
Type=Application
Categories=X-Internet-browser
GenericName=Palemoon-portable
