[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=tazpkg-convert %f
Name=Package Handler
Icon=configuration48.png
Comment=Package Handler
